
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #f4f4f4;
}


header {
    background-color: #056ec9;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title .logo {
    width: 250px; 
    height: auto;
    margin-right: 250px;
}

.logo-title h1 {
    margin: 0;
    font-size: 2.2em; 
    font-weight: bold;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em; 
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; 
}

/* Secciones */
section {
    padding: 40px 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #056ec9;
    margin-bottom: 20px;
    font-size: 2.5em; 
}

section p {
    color: #333;
    line-height: 1.6;
    font-size: 2.3em; 
}


.destinos-container, .galeria-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.tour-destino {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.tour-destino img {
    width: 80%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.galeria-container img {
    max-width: 100%;
    width: 300px; 
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.galeria-container img:hover {
    transform: scale(1.05);
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 2.8em; 
}

footer button {
    background-color: #056ec9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.5em; 
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #045aa6;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo-title {
        margin-bottom: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .destinos-container, .galeria-container {
        flex-direction: column;
        align-items: center;
    }

    .tour-destino {
        width: 100%;
    }

    .galeria-container img {
        width: 100%; 
    }
}